/* All Version */
/* Raleway Regular */
@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Raleway Italic */
@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway/Raleway-Italic.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}

/* Raleway Bold */
@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: Raleway;
}

/* Navigation */
.navbar {
	z-index: 10;
}

.scrolled {
	background: aliceblue;
}

.navbar-brand {
	font-size: 22px;
}

.nav-link {
	text-transform: capitalize;
}

/* Jumbotron */
.jumbotron {
	background-image: url(../images/Optimized-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgba(60, 64, 143, 0.95) 0%,
		rgba(91, 97, 207, 0.95) 100%
	);
	position: absolute;
	bottom: 0;
}

/*
linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%)
*/

.jumbotron h1 {
	font-size: 30px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: aliceblue;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
}

.jumbotron p {
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 30px;
	text-transform: capitalize;
	color: aliceblue;
	font-weight: 500;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
}

.jumbotron .social .fab {
	font-size: 20px;
	color: salmon;
	margin-right: 30px;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
}
/* All Version */

/* Desktop Version */
@media (min-width: 992px) {
	/* Navigation  */
	.navbar-brand {
		font-size: 32px;
	}

	.scrolled {
		background: linear-gradient(
			to right,
			rgba(60, 64, 143, 0.95) 0%,
			rgba(91, 97, 207, 0.95) 100%
		);
	}

	.navbar-brand,
	.nav-link {
		color: aliceblue !important;
		text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
	}

	.nav-link {
		margin-right: 20px;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid salmon;
		width: 60%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron {
		margin-top: -74px;
		text-align: left;
	}

	.jumbotron h1 {
		font-size: 40px;
		margin-top: 0;
	}
}
/* /. Desktop Version */
